<% rental_cat = rental.cat %>

<% if action == :new %>
  <% action_url = new_cat_cat_rental_requests_url %>
<% elsif action == :edit%>
  <% action_url = edit_cat_cat_rental_request_url(rental_cat, request) %> <!--Potential error -->
<% end %>


<form action="<%= action_url %>" method="post">
  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="cat_choice">Cat Choice:</label>
  <select id="cat_choice" name="request[cat]">
    <option disabled>--Select color--</option>
    <% Cat.all.each do |cat| %>
      <option value="<%= cat.name %>" <%= cat.id == rental_cat.id ? 'selected' : "" %> > <%= cat.name %> </option>
    <% end %>
  </select>

  <label for="start_date"></label>
  <input type="date" name="request[start_date]" value="<%rental_cat.start_date%>">
  <br>

  <label for="end_date"></label>
  <input type="date" name="request[end_date]" value="<%rental_cat.end_date%>">

  <br><br>

  <input type="submit" value="<%= action.capitalize %>">

</form>
