<% if action == :new %>
  <% action_url = cats_url %>
<% elsif action == :edit%>
  <% action_url = cat_url(cat) %>
<% end %>


<form action="<%= action_url %>" method="post">
  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%=cat.name%>">

  <br>

  <label for="birth_date">Birth Date</label>
  <input type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">

  <br>

  <label>Sex
  M <input type="radio" name="cat[sex]" value="M" <%= cat.sex == 'M' ? 'checked' : "" %>>
  F <input type="radio" name="cat[sex]" value="F" <%= cat.sex == 'F' ? 'checked' : "" %>>
  </label>

  <br>

  <label for="color">Color Choice:</label>
  <select id="color" name="cat[color]">
    <option disabled>--Select color--</option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>" <%= cat.color == color ? 'selected' : "" %> > <%= color.capitalize %> </option>
    <% end %>
  </select>

  <br><br>

  <textarea name="cat[description]" rows="8" cols="80">
    <%= cat.description %>
  </textarea>
  <br>

  <input type="submit" value="<%= action.capitalize %> cat">

</form>
